@import "../../assets/styles/toolsBundler.scss";

$CONTAINER_ID: "#hobbiesPage";

#{getContainerId()} {
    #hobbiesCtn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .col {
            display: flex;
            flex-direction: column;
            align-items: center;

            .animate-me {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 26vw;
                padding: 2em;
                margin-bottom: 2em;
                border-radius: .4em;
                background-color: $cv-brown;
                box-shadow: 0 0 1em $cv-brown;

                &::before {
                    position: absolute;
                    top: 0;
                    content: "";
                    width: 100%;
                    height: 100%;
                    border-radius: 0 0 .4em .4em;
                    background-color: #e7e7e7;
                    transform: translate(0, .6em);
                    z-index: -1;
                }

                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 5em;
                    height: 5em;
                    border-radius: 50%;
                    background-color: $cv-brown;

                    .fa-icon,
                    &>svg {
                        color: $cv-gold;
                        font-size: 2em;
                    }
                }

                h2 {
                    color: $cv-brown;
                    margin-top: .8em;
                    text-align: center;
                    font-size: 1.5em;
                }

                p {
                    font-size: 1.2em;

                    .react-icon {
                        color: $cv-pink;
                        font-size: 1.8em;
                        padding-right: .1em;
                    }
                }

                &#makeIconCtn {
                    .icons {
                        margin-top: 1em;

                        a {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            border-bottom: solid .1em $cv-brown;
                            padding: 1em 0;

                            img {
                                margin-top: .5em;
                                width: 40%;
                            }
                        }
                    }

                    .illustrator {
                        margin-top: -.2em;
                        font-size: .9em;
                        padding: 0 .2em;
                        border-radius: .2em;
                        background-color: $cv-brown;
                        color: $cv-gold;
                    }
                }
            }
        }
    }
}


@media (max-width: $BIG_SCREEN_MIN_SIZE) {
    #{getContainerId()} {
        #hobbiesCtn {
            flex-direction: column;
            align-items: center;

            .col .animate-me {
                width: 80%;
                font-size: 1.3em;

                .icon {
                    width: 4em;
                    height: 4em;

                    .fa-icon {
                        font-size: 1.5em;
                    }
                }

                h2 {
                    font-size: 1.2em;
                }
            }
        }
    }
}