@import '../../assets/styles/toolsBundler.scss';

#projectsPage {
    .projects-ctn {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: initial;
        margin: 0 .5em;
    }
}



@media (max-width: $BIG_SCREEN_MIN_SIZE) {
    #projectsPage {
        .projects-ctn {
            display: flex;
            align-items: center;
            color: initial;
        }
    }
}