@import "../../assets/styles/variables.scss";

#timeLinePage {

    p {
        font-weight: 300;
    }

    a {
        padding: .1em;
        transition-duration: .3s;
    }

    a:hover {
        background: #000;
        border-radius: .2em;
    }

    strong {
        font-weight: 600;
    }

    h1 {
        color: black;
        font-weight: 400;
    }

    #timeline-content {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .timeline {
        border-left: .4em solid #FBBC05;
        border-bottom-right-radius: .6em;
        border-top-right-radius: .6em;
        background: #2C2F2E;
        color: #fff;
        position: relative;
        line-height: 1.4em;
        font-size: 1.03em;
        padding: 2em .5em;
        list-style: none;
        text-align: left;
        font-weight: 100;
        max-width: 90%;

        h2 {
            margin-top: 1.5em;
            font-weight: 400;
            font-size: 1.2em;

            &:before {
                content: "- ";
                color: #FBBC05;
            }
        }

        .event {
            border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
            padding-bottom: 25px;
            margin-bottom: 50px;
            position: relative;
            padding-left: .5em;

            .event-date {
                color: #FBBC05;
                font-weight: 100;
                font-size: 1.2em;
            }

            i,
            a {
                color: #ffcc00;
                font-style: initial;
            }

            p:not(.event-date) {
                padding-left: 1em;
                opacity: .9;
            }


            &:before,
            &:after {
                position: absolute;
                display: block;
                top: 0;
            }

            &:last-of-type {
                padding-bottom: 0;
                margin-bottom: 0;
                border: none;
            }

            &:after {
                box-shadow: 0 0 0 .3em #FBBC05;
                left: -1.02em;
                background: #313534;
                border-radius: 50%;
                height: .7em;
                width: .7em;
                content: "";
                top: 5px;
            }
        }

    }
}


@media (min-width: $BIG_SCREEN_MIN_SIZE) {
    #timeLinePage {
        .timeline {
            max-width: 70%;
        }

    }
}