@import "./variables.scss";
@import "./myBoostrap.scss";

@font-face {
    font-family: "ubuntu";
    src: url("../font/Ubuntu-Bold.ttf");
}

@font-face {
    font-family: "another";
    src: url("../font/Another_day_in_Paradise.ttf");
}

html {
    min-height: 100vh;
    font-size: 2.2vh;
}

a {
    text-decoration: none;
    color: initial;
}

a:hover {
    text-decoration: initial;
    color: inherit;
}

.animate-me {
    opacity: 0;
}

::selection {
    color: #000;
    background: #FBBC05;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: hidden;

    button:focus {
        outline: 0;
    }

    .clickable,
    .clickable-effect {
        transition-duration: 0.2s;
        cursor: pointer;
    }

    .clickable-effect:hover {
        transform: scale(1.03);
    }

    h1 {
        &.slide-title {
            opacity: 0;
            display: inline-block;
            color: initial;
            margin: .5em 0 1em .5em;
            font-size: 3rem;
            padding: .3em;
            border-radius: .12em;
            background-color: rgb(251, 188, 5);
        }
    }

    ul li {
        list-style: none;
    }

    .circle {
        border-radius: 50%;
    }

    .hide {
        display: none;
    }

    .radius-s {
        border-radius: 10px;
    }

    .radius-l {
        border-radius: 20px;
    }

    .bg-blue {
        background-color: $blue;
    }

    .bg-green {
        background-color: $green;
    }

    .bg-lightBlue {
        background-color: $blue;
    }

    .bg-orange {
        background-color: $orange;
    }

    .bg-lightRed {
        background-color: $lightRed;
    }

    .flex {
        display: flex;
    }

    .flex-column {
        flex-direction: column;
    }

    .flex-space-between {
        justify-content: space-between;
    }

    .align-center {
        justify-content: center;
    }

    .center-items {
        padding: 0 20px;
        align-items: center;
    }

    .margin-top {
        margin-top: 20px;
    }

    .margin-top-xl {
        margin-top: 30px;
    }

    .margin-top-xxl {
        margin-top: 60px;
    }

    .half-width {
        width: 50%;
    }

    .margin-bottom-xs {
        margin-bottom: 5px !important;
    }

    .margin-bottom {
        margin-bottom: 20px;
    }

    .margin-bottom-xl {
        margin-bottom: 30px;
    }

    .margin-bottom-xxl {
        margin-bottom: 60px;
    }

    .margin-side {
        margin-left: 10px;
        margin-right: 10px;
    }

    .margin-side-xxl {
        margin-left: 30px;
        margin-right: 30px;
    }

    .padding-side {
        padding: 0 10px;
    }

    .textAlert {
        color: red !important;
    }

    .text-right {
        text-align: right;
    }

    .cross-text {
        text-decoration: line-through;
    }

    .half-width {
        width: 50%;
    }

    .third-width {
        width: 30%;
    }

    .quarter-width {
        width: 20%;
    }

    .flag-icon {
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
        position: relative;
        display: inline-block;
        width: 1.33333333em;
        line-height: 1em;
    }

    .flag-icon:before {
        content: "\00a0";
    }

    .flag-icon-de {
        background-image: url(../img/de.svg);
    }

    .flag-icon-fr {
        background-image: url(../img/fr.svg);
    }

    .flag-icon-us {
        background-image: url(../img/us.svg);
    }

    .page {}

    .page-transition {
        animation: apparitionPageAnimation 0.5s;
    }

    .invalid-input,
    .invalid-input:focus {
        background-color: rgba(255, 0, 0, 0.1);
    }

    .invalid-input:focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.3);
        border-color: rgba(255, 0, 0, 0.1);
    }

}

// INIT SWIPER
.swiper-container {
    .swiper-wrapper {
        height: 100vh;
        width: 100vw;

        .swiper-slide {
            height: 100%;
            width: 100%;
            font-family: 'ubuntu';
            overflow-y: auto;
            overflow-x: hidden;
            background-color: $lightWhite;
            padding-bottom: 2em;

            &.not-scrollable {
                overflow-y: hidden;
            }

            &::-webkit-scrollbar {
                width: .8vw;
            }

            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            }

            &::-webkit-scrollbar-thumb {
                background-color: darkgrey;
                outline: 1px solid slategrey;
            }
        }
    }

    .swiper-pagination {
        padding: 5px;
        background-color: rgba(53, 53, 53, .8);
        border-radius: 20px;

        .swiper-pagination-bullet {
            &::not(.swiper-pagination-bullet-active-main) {
                background-color: rgba(251, 188, 5, 1);
            }

            background-color: $cv-gold;
        }
    }
}

// END INIT SWIPER

// ANIMATION ZONE
@keyframes apparitionPageAnimation {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes rotation {
    0% {
        transform: rotateY(-90deg);
    }

    75% {
        transform: rotateY(20deg);
    }

    100% {
        transform: rotateY(0deg);
        opacity: 1;
    }
}

@keyframes goUp {
    0% {
        transform: translateY(2em);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes goDown {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(2em);
        opacity: 0;
    }
}

@keyframes fadeApparition {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// END ANIMATION ZONE



@media (max-width: $BIG_SCREEN_MIN_SIZE) {

    html {
        font-size: 2.2vh;
    }

    body {
        h1 {
            &.slide-title {
                display: flex;
                justify-content: center;
                font-size: 2rem;
                padding: .1em;
                margin-top: 1em;
            }
        }
    }

    .swiper-container {
        .swiper-wrapper {

            .swiper-slide {
                &::-webkit-scrollbar {
                    width: 2vw !important;
                }
            }
        }
    }

}