@import "../../assets/styles/toolsBundler.scss";

#contactPage {
    color: initial;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 3.5rem;
        text-align: center;
        margin-top: 50px;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        margin-top: .5em;

        #charactersCounter {
            font-size: 1em;
            text-align: right;
            color: green; // TODO: Find nice green color 
        }
    }

    img {
        width: 100px;
    }

    #contactCtn {
        margin: 50px 0;
        display: flex;
        flex-direction: column;

        .fa-icon {
            font-size: 2em;
        }

        a {
            display: flex;
            align-items: center;
            margin-top: 50px;

            p {
                font-size: 1.5em;
                margin-left: 20px;
                margin-bottom: 0;
            }
        }

        #cv {
            display: flex;
            justify-content: center;


            p {
                font-size: 1rem;
                margin-top: 40px;
                color: black;
                transition-duration: 0.4s;
                text-align: center;
                background: rgb(251, 188, 5);
                border-radius: 40px;
                padding: 3px 10px;

                &:hover {
                    color: rgb(251, 188, 5);
                    transform: scale(1.15);
                    background: black;
                }
            }
        }
    }
}


@media (max-width: 991px) {
    #contactPage {
        h1 {
            font-size: 2.5rem;
            text-align: left;
            margin-left: 10px;
        }

        img {
            width: 40px;
        }

        #contacts_2 {
            flex-direction: column;
        }

        #contactCtn {

            div {
                flex-direction: column;
                margin-left: 10px;

                p {
                    font-size: 1.4rem;
                    margin-left: 0;
                    margin-top: 10px;
                    text-align: center;
                }
            }

            #contacts_2 p {
                font-size: 1.2rem;
                margin-left: 0;
            }

            #cv {
                font-size: 1.1rem;
            }
        }
    }
}


@media (max-width: $BIG_SCREEN_MIN_SIZE) {
    #contactPage {
        #contactCtn {
            a {
                flex-direction: column;
            }
        }

        .form {
            width: 90%;
        }
    }
}